body {
    background-image: url('../startbootstrap-business-casual-gh-pages/top-view-photographer-workplace-with-copy-space-camera-office-supplies-decorations_67155-5899.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  